<!doctype html>
<html lang="de" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>LA LIGA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
</head>
<body>
	<header>
			<img class="title-image" src="images/logo.jpg" width="100px">
	</header>
	<main> 
	<div ng-controller="TableController">
		<nav>
				<a ng-click="tableClick()">TABLE</a> <a ng-click="addMatchesClick()">ADD MATCHES</a> <a ng-click="chancesClick()">CHANCES</a>
		</nav>	
		<table ng-show="showtable">
				<h2>Season: {{season}}</h2>
				<tr>
					<td width="20%">Logo</td><td width="30%">Team</td><td width="10%">Points</td><td width="10%">GD</td>
				</tr>
				<tr ng-repeat="row in rows">
					<td><img src="/images/{{row.logo}}" height="50%" /></td><td>{{row.team}}</td><td>{{row.points}}</td><td>{{row.goaldiff}}</td>
				</tr>
		</table>
		<div ng-show="showaddform" class="addMatch"> 
				<label for="Season">Season:</label><input input type="number" name="Season" ng-model="season" value="2015" min="2015" />
				<label for="MatchWeek">Match Week:</label><input input type="number" name="MatchWeek" ng-model="matchweek" value="1" min="0" max="38" /> <br />
				<label for="HomeTeam">Home Team:</label> <select name="HomeTeam"><option ng-repeat="team in teams" ng-model="hometeam" value="Real Madrid">{{team.teamname}}</option></select> <label for="HomeScore">Home Score:</label> <input input type="number" name="HomeScore" ng-model="homescore" value="0" min="0" max="15" /><br />
				<label for="AwayTeam">Away Team:</label> <select name="AwayTeam"><option ng-repeat="team in teams" ng-model="awayteam" value="Barcelona">{{team.teamname}}</option></select> <label for="HomeScore">Away Score:</label> <input input type="number" name="AwayScore" ng-model="awayscore" value="0" min="0" max="15" /><br />
				<input type="submit" ng-click="submitMatch()" value="Submit">
		</div>
		<p ng-show="showchances"> huhu2 </p>
	</div>
	</main>
</body>
<script>
var app = angular.module('myApp', []);

app.controller('TableController', ['$window', '$scope', '$http', function($window,$scope, $http) {
		$scope.showtable = true;
		$scope.showaddform = false;
		$scope.showchances =  false;
		
		$http.get("/getTable")
    .then(function (response) {
		$scope.season = response.data.season;
		$scope.rows = response.data.teams;
		});
		
		$http.get("/getTeams")
    .then(function (response) {
		$scope.teams = response.data;
		});
		
		$scope.tableClick = function() {
				$scope.showtable = true;
				$scope.showaddform = false;
				$scope.showchances =  false;
		}
		
		$scope.addMatchesClick = function() {
				$scope.showtable = false;
				$scope.showaddform = true;
				$scope.showchances =  false;
		}
		
		$scope.chancesClick = function() {
				$scope.showtable = false;
				$scope.showaddform = false;
				$scope.showchances =  true;
		}
		
		$scope.submitMatch = function() {
				var req = {
						matchweek : $scope.matchweek,
						season: $scope.season,
						hometeam: $scope.hometeam,
						awayteam: $scope.awayteam,
						homescore: $scope.homescore,
						awayscore: $scope.awayscore
				}
				$http({
				url: "/postmatch",
				method: "GET",
				params: req
				})
				.then(function (response) {
				$window.alert(response.data);
				});
		}

}]);
</script>
</html>